.h1-style {
    color: rgb(15, 15, 255);
    font-family: Algerian;
    text-align: center;
}
.question-style {
    color: rgb(130, 0, 0);
}
body {
    margin: 0;
    background-image: url(arabian\ gazelle\ pic\ 12.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: window.innerWidth;
    width: window.innerHeight;
}

.text-style {
    color: rgb(115, 15, 115);
    font-family:Amasis MT Pro;
}
.topnav {
    background-color: black;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: white;
    color: black;
}

.topnav a.active {
    background-color: green;
    color: white;
}

.wrapper {
    margin:0 50px;
}

.gallery {
    width: 100%;
}
.gallery img {
    width: 250px;
    height: 150px;
    cursor: pointer;
    padding: 40px 40px;
}

.gallery img:hover {
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}

.full-img {
    width: 100%;
    height: 100vh; 
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0; 
    left: 0;
    display: none; 
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.full-img img { 
    width: 90%;
    max-width: 500px;
}

.full-img span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    font-family: calibri;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

